<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Description -->
    <meta name="description" content="Uses Webcam to Compute user's Vitals through video using Photoplethysmography.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Webcam Vitals Tracker</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="static\css\main.css">
</head>

<body>
    <!-- HEADER and Nav -->
    <header class="site-header">
        <h1>Webcam Vitals Tracker</h1>

        <!-- Navigation bar -->
        <nav class="navbar">
            <ul class="menu">
                <li><a class="navbar-item" href="/home">Home</a></li>
                <li><a class="navbar-item" href="/vitals">Vitals</a></li>
                <li><a class="navbar-item" href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <hr>

    <!-- Main Content Page -->
    <section class="main-content">
        <!-- CAMERA -->
        <div class="content cam">
            <p>This box will contain the webcam feed.</p>
        </div>

        <!-- DASHBOARD -->
        <div class="content dashboard">
            <p>This box will display the vitals on dashboard.</p>
        </div>
    </section>

    <hr>

    <!-- FOOTER -->
    <footer class="site-footer">
        <p>Write some description.</p>
        <p>Copyright to Krishna Vijay Samayamantri.</p>
    </footer>
</body>

</html>